.main-page {
    background-color: #e0e0e0;
    text-align: left;
    padding: 3rem;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.Button2 {
    display: block; /* Ensures the button behaves like a block element */

    width: 400px; /* Szerokoœæ przycisku */
    height: 100px; /* Wysokoœæ przycisku */

    cursor: pointer; /* Zmiana kursora na wskaŸnik */
    text-align: center; /* Wyœrodkowanie tekstu */

    font-size: 1.2rem; /* Increases font size */
    font-weight: bold; /* Makes the text bold */
    color: white; /* Kolor tekstu */

    margin: 20px auto; /* Centers the button with top and bottom margin */
    padding: 10px 20px; /* Adds space inside the button */

    border-radius: 10px; /* Rounds the corners */
    cursor: pointer; /* Changes the cursor to pointer on hover */
    /*background-color: #007BFF;*/ /* Kolor t³a */
}

