
#root {
  max-width: 1280px;
  margin:  80px;
  padding: 2rem;
  text-align: center;
}

body {
    padding-top: 20px; /* Ustala odstêp od górnej krawêdzi */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* Wysokoœæ ca³ego widoku */
    font-family: Arial, sans-serif; /* Czcionka */
    background-color: #f5f5f5; /* T³o */
}